body, html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #21232A;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
  margin: 0;
  padding: 70px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  padding: 5px;
  font-size: 1.3rem;
  border-radius: 5px;
  width: 5rem;
  background-color:darkolivegreen;

}

.divCustom{
  display: flex;
  justify-content: center;
  margin: 1rem;
}